# Trulo CMS: previous project configuration removed.
NEXT_PUBLIC_CMS_BACKEND_URL=
NEXT_PUBLIC_AFFILIATE_API_PREFIX=
NEXT_PUBLIC_AFFILIATE_PORTAL_URL=
NEXT_PUBLIC_SHOP_URL=
NEXT_PUBLIC_SELLERCENTRAL_URL=
AFFILIATE_JWT_SECRET=
