# Trulo CMS: previous project configuration removed.
NEXT_PUBLIC_CMS_BACKEND_URL=
NEXT_PUBLIC_DEVELOPER_API_PREFIX=
NEXT_PUBLIC_DEVELOPER_PORTAL_URL=
NEXT_PUBLIC_SELLERCENTRAL_URL=
DEVELOPER_JWT_SECRET=
